/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff; /* Основной цвет текста - белый */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)); /* Плавный градиент фона */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 40px; /* Размер логотипа */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Белый цвет ссылок в навигации */
    text-decoration: none;
}

.hero {
    position: relative;
    height: 80vh;
    overflow: hidden;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Белый цвет текста в hero */
    text-align: center;
}

.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

.hero-content p {
    font-size: 1.5em;
}

section {
    padding: 60px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили для секции About Me и Projects */
#about h2,
#projects h2 {
    color: #fff; /* Белый цвет заголовков */
}

#about p,
#projects ul li p {
    color: #ccc; /* Светло-серый цвет для описания */
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin: 10px 0 5px;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    margin-bottom: 10px;
}

#contact form button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#contact form button:hover {
    background-color: #444;
}

/* Адаптивность */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2em;
    }

    .hero-content p {
        font-size: 1.2em;
    }
}

/* Контейнер для видео */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Соотношение сторон 16:9 */
    overflow: hidden;
    background-color: black; /* Основной фон контейнера */
}

/* Видео, встроенное через iframe */
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
